.left {
    position:absolute;
    left:0, right:50%;
    width: 50%;
}
.right {
    position:absolute;
    left: 50%;
    width: 50%;
    height: 50%;
    overflow-y: auto;
}
.range {
    width: 15%;
    display:inline-block;
}
